.searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px #cccccc;
    padding:15px;
    text-align: center;
}

.searchBar input[type=text] {
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}

.searchBar .unit {
    width: 50%;
}

.searchBar input[type=radio] {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.searchBar button {
    width: 50%;
    background-color: #5dbcd2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  