@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #cfddf3;
}

.container {
  border-radius: 15px;
  background-color: #cfddf3;
  color: #d2cbcb;
  margin: 0 25%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.main {
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  position: relative;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #2a4a7b;
}

.day-section {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  background: #1a2f4e;
}

.forecast-section {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  background: #1a2f4e;
}

.change-location {
  position: relative;
  border-radius: 10px;
  background: #1a2f4e;
  margin: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a2f4e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #d2cbcb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
